/****************
 how much to pay
****************/
input[type="text"] {
    border: 1px solid #999999;
    color: $darkBlue;
    font-size: 1rem;
    padding: 10px;
    font-weight: 800;
    
    overflow: visible;
}
.inputAmount {
	div {
		display: inline;
		p {
			display: block;
			@include bp(med) {
				display: inline;
			}
			input {
				width: 35%;
				height: 44px;
				padding: 5px;
				&:last-child {
					width: 30%;
				}
				@include bp(sml) {
					width: 30%;
					&:last-child {
						width: 25%;
					}
				}
				@include bp(med) {
					width: 25%;
					&:last-child {
						width: 20%;
					}
				}
			}
		}
	}
}


/*******************
credit card details
*******************/

.desc {
	font-size: 0.85rem;
	line-height: 170%;
	padding: 10px 0px 10px 0px;
	@include bp(sml) {
		font-size: 0.9rem;
	}
	@include bp(large) {
		font-size: 1rem;
		padding: 10px 10px 10px 0px;
	}
	
}
.inputWrap {
	display: table-cell;
    vertical-align: middle;
}
.inputWrap input {
	/*width: calc(100% - 160px);*/
	/*position: relative;*/
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
//     cursor: pointer;
    float: left;
    /*display: table-cell;
    vertical-align: middle;*/
    padding: 12px;
    /*line-height: 150%; */
}


.selectWrap {
	/*width: calc(50% - 160px);*/
	position: relative;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    /*float: left;*/
    display: inline-block;
	/*  display: table-cell;
    vertical-align: middle;*/
// 	padding: 12px 8px;
	line-height: 44px;
	height: 44px;
    .fieldIcon {
		position: absolute;
	    top: 0;
	    right: 0;
	    padding: 14px 13px 14px 12px;
	    background: #fff;
	    color: $darkBlue;
	    pointer-events: none;
	    z-index: 1;
	    font-size: 1rem;
	    cursor: pointer;
	}
    select {
	    -webkit-appearance:none;
	    background: $white;
	    color: $darkBlue;
	    font-size: 1rem;
	//     padding: 2px;
	    font-weight: 800;
    }
}
.fieldIcon {
	position: absolute;
    top: 0;
    right: 0;
    padding: 14px 13px 14px 12px;
    background: #fff;
    color: #575757;
    pointer-events: none;
    z-index: 1;
    font-size: 1.2rem;
    cursor: pointer;
}
/*
.creditCardLarge {
	width: 100%;
}
*/
select {
    /*-moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;*/
    padding: 12px 15px 12px 12px;
    
    font-size: 1.2rem;
    width: 100%;
    color: #575757;
    outline: none;
    border: none;
    background: #fff;
    cursor: pointer;
}
.first {
	line-height: 140%;
}
option {
	font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
}




