*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
[class^="col-"] {
	float: left;
  margin: 7.5px;
	&.swapRight {
		float: right;
	}
}
.grid-container {
  max-width:75rem;
  margin-right: auto;
  margin-left: auto;
}
.row {
  @include clearfix;
}

// small
.col-1-sml {
  width: calc((100% / 12 * 1) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-2-sml {
  width: calc((100% / 12 * 2) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-3-sml {
  width: calc((100% / 12 * 3) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-4-sml {
  width: calc((100% / 12 * 4) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-5-sml {
  width: calc((100% / 12 * 5) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-6-sml {
  width: calc((100% / 12 * 6) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-7-sml {
  width: calc((100% / 12 * 7) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-8-sml {
  width: calc((100% / 12 * 8) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-9-sml {
  width: calc((100% / 12 * 9) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-10-sml {
  width: calc((100% / 12 * 10) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-11-sml {
  width: calc((100% / 12 * 11) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
.col-12-sml {
  width: calc((100% / 12 * 12) - 15px);
	&.center {
		float: none;
    margin: 7.5px auto;
    text-align: center;
	}
	&.center-item {
		float: none;
		margin: 7.5px auto;
		display: inline-block;
	}
}
// small ends

// medium
@include bp(med) {
	.col-1-med {
	  width: calc((100% / 12 * 1) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-2-med {
	  width: calc((100% / 12 * 2) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-3-med {
	  width: calc((100% / 12 * 3) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-4-med {
	  width: calc((100% / 12 * 4) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-5-med {
	  width: calc((100% / 12 * 5) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-6-med {
	  width: calc((100% / 12 * 6) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-7-med {
	  width: calc((100% / 12 * 7) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-8-med {
	  width: calc((100% / 12 * 8) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-9-med {
	  width: calc((100% / 12 * 9) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-10-med {
	  width: calc((100% / 12 * 10) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-11-med {
	  width: calc((100% / 12 * 11) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-12-med {
	  width: calc((100% / 12 * 12) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
}
// medium ends

// large
@include bp(large) {
	.col-1-lrg {
	  width: calc((100% / 12 * 1) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-2-lrg {
	  width: calc((100% / 12 * 2) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-3-lrg {
	  width: calc((100% / 12 * 3) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-4-lrg {
	  width: calc((100% / 12 * 4) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-5-lrg {
	  width: calc((100% / 12 * 5) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-6-lrg {
	  width: calc((100% / 12 * 6) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-7-lrg {
	  width: calc((100% / 12 * 7) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-8-lrg {
	  width: calc((100% / 12 * 8) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-9-lrg {
	  width: calc((100% / 12 * 9) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-10-lrg {
	  width: calc((100% / 12 * 10) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-11-lrg {
	  width: calc((100% / 12 * 11) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
	.col-12-lrg {
	  width: calc((100% / 12 * 12) - 15px);
		&.center {
			float: none;
	    margin: 7.5px auto;
	    text-align: center;
		}
		&.center-item {
			float: none;
			margin: 7.5px auto;
			display: inline-block;
		}
	}
}
// large ends
.red {
	background:red;
}
.green {
	background:green;
}
