/*************************
	home page
*************************/
.pageWrap {
	margin: 0 auto;
}
.heroImage {
	position: relative;
	padding-top: 80px;
	background: url(../img/hero_image_4.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	border-bottom: 4px solid $yellow;
	@include bp(med) {
		background: url(../img/hero_image.jpg) no-repeat center center;
		background-size: cover;
		background-attachment:scroll;
	}
	@include bp(large) {
		background-attachment:fixed;
	}
	span.icon-arrowDown {
		background: #fff;
		border-radius: 50%;
		padding: 8px 5px 2px;
		color: $darkGrey;
		font-size: 1.5rem;
		position: absolute;
		bottom: 15px;
		left: calc(50% - 17px);
	}
	.innerWrap {
		position: absolute;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		color: $white;
		top: 25%;
		@include bp(sml) {
			top: 30%;
		}
	}
}
.heroTitle {
	img {
		width: 80%;
		@include bp(med) {
			min-width: 650px;
			width: 40%;
		}
	}
	h1 {
		margin-top: 0;
		font-size: 3rem;
		font-weight: 800;
	}
	.infoWrap {
		p {
			margin: 10px 40px 20px;
			font-size: 1rem;
			text-transform: uppercase;
			@include bp(sml) {
				margin: 10px 20px 20px;
				font-size: 1.5rem;
			}
			@include bp(med) {
				margin: 30px 0 50px;
				font-size: 2rem;
			}
		}
		div {
			button {
				text-transform: uppercase;
				font-size: 0.8rem;
				@include bp(med) {
					font-size: 1rem;
				}
			}
		}
	}
}
.homepageLineUp {
	margin: auto;
	padding: 20px 0;
	background: $grey;
	border-bottom: 4px solid $yellow;
	.innerWrap {
		max-width:1200px;
		width: 95%;
		margin: 0px auto 30px;
		text-align: center;
		&:first-child {margin-bottom: 0px;}
		&:last-child {margin-bottom: 60px;}
		@include bp(med) {
			margin: 20px auto 30px;
		}
		h2 {margin-top: 60px;}
	}
}
.heroBand {
	text-align: center;
	position: relative;
	margin: 10px auto;
	overflow: hidden;
	color: $darkGrey;
	@include bp(med) {
		margin: auto;
	}
	img {
		width: 100%;
		margin: 0;
	}
	.bandInnerWrap {
		position: absolute;
		height: 100%;
		background: $transparentYellow;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		cursor: pointer;
		h2 {
			margin: 6% auto 0%;
			font-size: 1.4rem;
			@include bp(sml) {
				font-size: 2rem;
			}
			@include bp(med) {
				font-size: 1.5rem;
			}
			@include bp(large) {
				font-size: 1.9rem;
			}
		}
		&.closed {
			bottom: 0%;
			@include bp(med) {
				bottom: -74%;
			}
		}
		&.closed .infoWrap {
			width: 95%;
			margin: 2% auto;
			@include bp(med) {
				width: 95%;
				margin: 8% auto 0;
			}
		}
		&.open {
				bottom: 0px;
		}
		.infoWrap {
			width: 95%;
			margin: 0 auto;
			@include bp(sml) {
				margin: 2% auto 0;
			}
			p {
				font-size: 0.9rem;
				@include bp(sml) {
					font-size: 1.2rem;
				}
				@include bp(med) {
					font-size: 0.9rem;
				}
				@include bp(large) {
					font-size: 1rem;
				}
			}
		}
		.infoWrap {
			@include bp(med) {
				width: 95%;
			}
		}
	}
}
.infoWrap {
	.button {
		max-width:250px;
	}
}
/*************************
	home page ends
*************************/

/*************************
	generic sub-page hero image
*************************/
.heroSection {
	.short {
		position: relative;
		background: url(../img/hero_image_short.jpg) no-repeat center center;
		background-size: cover;
		width: 100%;
		height: 250px;
		border-bottom: 4px solid $yellow;
		@include bp(med) {
			padding-top: 100px;
			height: 400px;
		}
		.innerWrap {
			top: 50%;
			.heroTitle {
				h1 {
					font-size: 2rem;
					@include bp(sml) {
						font-size: 2.5rem;
					}
					@include bp(med) {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
/*************************
generic sub-page hero image ends
*************************/

/*************************
	line up
*************************/
#lineUp {
	background: $grey;
	padding: 20px 0;
	@include bp(med) {
		padding: 20px 0 80px;
	}
	.cat-selector {
		margin: 20px auto 20px;
		text-align: center;
		@include bp(med) {
			margin: 80px auto 20px;
		}
		.btn {
			width:40%;
	    font-size: 1rem;
	    text-decoration: none;
	    cursor: pointer;
	    display: inline-block;
	    line-height: normal;
	    padding: 0.5rem 2rem;
	    margin: 5px 8px;
	    height: auto;
	    border: 1px solid $yellow;
	    vertical-align: middle;
	    -webkit-appearance: none;
	    color: $yellow;
	    background-color: rgba(0, 0, 0, 0);
			&:first-child{
				background: $yellow;
				color: $darkGrey;
			}
			@include bp(sml) {
				width:35%;
			}
			@include bp(med) {
				width:inherit;
				font-size: 1.2rem;
			}
		}
		.btn:hover {
		  text-decoration: none;
		}
	}
}
.lineUp {
	padding: 30px;
    background: $yellow;
    margin: 0 auto;
    color:#333;
	text-transform: uppercase;
    h3 {
	    font-size: 1.6rem;
	    padding-bottom: 15px;
	    border-bottom: 4px solid #333;
	    font-weight: 600;
    }
    h4 {
	    font-size: 1.6rem;
	    font-weight: 600;
	    padding: 30px 0 0px;
    }
    p {
		&.title1 {
			font-size: 2rem;
		}
		&.title2 {
			font-size: 1.6rem;
		}
	}
	.border {
		height: 4px;
		background: $darkGrey;
		width: 100%;
	}
}
/*************************
	lineup ends
*************************/


/*************************
	FAQs
*************************/
#faq {
	padding: 20px 0 0;
	border-bottom: 4px solid $yellow;
	color: $darkGrey;
}
.question {
	cursor: pointer;
	padding:20px 5px 20px;
	border-bottom: 2px solid $darkGrey;
	@include bp(med) {
		padding: 20px 0 10px;
	}
	h4 {
		font-size: 1rem;
		display: inline-block;
		padding-right: 5px;
		font-weight: 600;
		width: 90%;
		vertical-align: top;
		@include bp(sml) {
			vertical-align: inherit;
			width: inherit;
			padding-right: 10px;
			font-size: 1.2rem;
		}
	}
	span.icon {
		font-size:0.9rem;
		display: inline-block;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		vertical-align: middle;
		line-height: 18px;
		@include bp(sml) {
			vertical-align: inherit;
		}
		&.rotateOpen {
		    -ms-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    transform: rotate(0deg);
		}
		&.rotateClose {
		    -ms-transform: rotate(90deg);
		    -webkit-transform: rotate(90deg);
		    transform: rotate(90deg);
		}
	}
	p {
		&.closed {
			display: none;
		}
	}
}

/*************************
	FAQs ends
*************************/

/*************************
	contact us
*************************/
#contact {
	padding: 20px 0 0;
	border-bottom: 4px solid $yellow;
	color: $darkGrey;
}
.contactSection {
	margin: auto;
	padding: 20px 0;
	background: $white;
	border-bottom: 4px solid $yellow;
	color: $darkGrey;
	.innerWrap {
		max-width: 1200px;
		width: 95%;
		margin: 20px auto 60px;
		text-align: left;
		@include bp(med) {
			margin: 60px auto;
		}
		.infoWrap {
			h4 {
				font-size: 1.7rem;
				display: inline-block;
				padding-right: 10px;
			}
			.contactSocials{
				a {
					color: $darkGrey;
					div {
						margin: 5px 0;
						width: 30px;
						display: inline-block;
						vertical-align: bottom;
						text-align: center;
					}
					p {
						display: inline-block;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
/*************************
	contact us ends
*************************/


/*************************
	video
*************************/
#video {
	background: $grey;
	padding: 80px 0 80px;
	.videoSection {
		margin: 0 auto;
		padding: 40px 0 0px;
		@include bp(med) {
			padding: 80px 0 0px;
		}
		.innerWrap {
			margin: 0px auto 0px;
			position: relative;
			text-align: center;
			h1 {
				margin: 0;
				font-size: 3rem;
				font-weight: 800;
			}
			.video {
				position: relative;
				height: 280px;
				width: 100%;
				max-width: 1000px;
				background: $black;
				border: 4px solid $yellow;
				margin: 30px auto 0%;
				@include bp(sml) {
					height: 380px;
				}
				@include bp(med) {
					height: 480px;
				}
				span.icon {
					position: absolute;
					top: calc(50% - 44px);
					left: calc(50% - 44px);
					font-size: 3rem;
					color: $yellow;
					padding:16px 25px 16px 30px;
					border-radius: 50%;
					border: 4px solid $yellow;
					background: transparent;
				}
				iframe {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
/*************************
	video
*************************/
