@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/*breakpoint variables start*/
$smlBP: 460px;
$medBP: 840px;
$largeBP: 1040px;
/*breakpoint variables end */

/*fonts*/
$ptSans: 'PT Sans', Arial, Helvetica, sans-serif;

/*// colours*/
/*// $grey: #555;*/
$lightGrey: #999;
$extraLightGrey: #EBEBEB;
/*// $darkGrey: #333;*/
$white: #fff;
$black: #000;

/** //body copy colour */
$bodyCopy: #575757;

/** //main primary colours */
// $darkBlue: #031545;
// $skyBlue: #7BCEF4;
// $lightBlue: #B1DFF7;


/*// shiiine colours*/
$yellow: #f0e234;
$transparentYellow: rgba(240,226,52,0.8);
$grey: #4a494a;
$darkGrey: #1a1919;
